@import '../../_Imports.module.sass'

.jokeContainer
    font-family: $jokeFont
    display: flex
    border-top: 1px solid $borderColor
    align-items: baseline
    background: white
    padding: 10px
    text-align: left
    color: $shadowColor

.button
    border-radius: 100%
    background-color: $backgroundButton
    font-size: 1.2em
    font-weight: bold
    margin: 0 0.2em

.votes
    font-weight: bold
    font-size: 1.2em
    margin: 0 0.2em

.upVoteButton
    @extend .button
    border: 3px solid $upVoteButton

.downVoteButton
    @extend .button
    border: 3px solid $downVoteButton 

.joke
    font-size: 1.0em
    margin: 0.5em 0.4em

.emote
    margin: auto 0.25em 
    font-size: 1.75em 
    font-weight: bolder
    text-shadow: 2px 2px 2px $shadowColor

.excellentEmote
    @extend .emote
    color: $secondary

.goodEmote
    @extend .emote
    color: $accent

.mehEmote
    @extend .emote
    color: black

.sadEmote
    @extend .emote
    color: $secondaryAccent

.angryEmote
    @extend .emote
    color: $primary