
@import '../../_Imports.module.sass'

.Header
    background: $primary
    color: white
    display: flex
    justify-content: center
    flex-direction: column

.accentTitle
    font-family: 'Codystar', cursive
    opacity: 0.35
    margin-bottom: 0.2em

.title
    font-family: 'Luckiest Guy', cursive
    font-size: 3.5em
    margin: 0

.JokeButton
    background: $accent
    color: white
    font-weight: bold 
    border: 1px solid transparent
    border-radius: 5px
    text-shadow: 1px 1px 1px #555555aa
    padding: 10px
    font-size: 2.0em
    margin: 0.5em 1.0em
    text-shadow: 1px 1px 2px $shadowColor

.JokeButton:hover
    background: $secondary


.emote
    font-size: 6.0em
    margin: 0.4rem 