$upVoteButton:  #cc2222 
$downVoteButton:  #22cc33
$backgroundButton: #fff

$primary: hsl(220, 75%, 40%)
$secondary: #e5462d
$accent: hsl(26, 100%, 45%)
$secondaryAccent: #2dcde5
$borderColor: #eeeeee
$shadowColor: #222